* {
	box-sizing: border-box;
}

header,
section {
	overflow-x: hidden;
}

header a {
	font-family: var(--Sniglet-font);
	font-size: 0.9em;
	color: whitesmoke;
}

/* navigation bar */
.navbar {
	background-color: black;
}
#nav-bar {
	position: sticky !important;
	top: 0;
	z-index: 10;
}

.navbar-brand img {
	height: 50px;
	padding-left: 30px;
}
.navbar-nav li {
	padding: 0 10px;
}
.navbar-nav li a {
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover {
	color: #007bff !important;
}

.navbar-toggler {
	border: none !important;
}
.nav-link {
	color: #fff !important;
	font-weight: 600;
	font-size: 16px;
}

.text_2:hover {
	text-shadow: 5px 5px 20px rgba(0, 0, 0, 10);
}

header {
	background-color: black;
	background-image: linear-gradient(black);
	margin-top: 55px;
}

header .container .col-md-7 {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	width: 100%;
}

header .container .col-md-7 span {
	text-transform: uppercase;
	display: block;
}

.text_2 {
	color: white;
	font-family: 'Montserrat-Black';
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 8px;
	top: 50px;
	margin-top: 100px;
	position: relative;
	animation: text 2s 1;
}

.text_1 {
	font-size: 30px;
	margin-top: 50px;
	color: yellow;
}

@keyframes text {
	0% {
		color: black;
		margin-top: -40px;
	}

	30% {
		letter-spacing: 25px;
		margin-top: -40px;
	}

	85% {
		letter-spacing: 8px;
		margin-top: -40px;
	}
}

/* About Section */

#about {
	width: auto;
	padding: 10px;
	margin: 10px;
	display: center;
	transition: box-shadow 2s;
}

#about:hover {
	box-shadow: 5px 5px 20px #000;
}

.about-title {
	font-size: 40px;
	font-weight: 600;
}

#about .title:before {
	content: '';
	background: #16c79a;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}

#about .title:after {
	content: '';
	background: #11698e;
	height: 10px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

.about-content {
	font-weight: 600;
	margin-top: 8%;
	font-family: var(--Sniglet-font);
	text-align: justify;
}

.about-content:after {
	content: '';
	background: #11698e;
	height: 10px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

/* Testimonial Section */

.container-fluid {
	padding: 7% 15%;
}

.center {
	display: block;
	text-align: center;
	width: auto;
}

.colored-section {
	background-color: #000;
}

.testimonial-text {
	font-size: 2rem;
	line-height: 1.5;
	font-family: 'Shadows Into Light', cursive;
	color: yellow;
}

em {
	color: white;
}

/* Products */

h2,
h3,
h4,
h5 {
	font-family: var(--Sniglet-font);
	text-align: center;
}

p {
	color: #8f8f8f;
	text-align: center;
}

#pricing {
	padding: 100px;
}

#pricing .sectionheading:after {
	content: '';
	background: #11698e;
	height: 10px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

.price-text {
	font-size: 3rem;
	line-height: 1.5;
}

.pricing-column {
	padding: 3% 2%;
}

.colored-section {
	background-color: black;
	background-image: linear-gradient(black, gray);
	color: #fff;
}

.white-section {
	background-color: #fff;
}

.card:hover {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 10);
}

/* footer */

.social-icons {
	width: 50px;
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 1;
}
.social-icons img {
	display: block;
	width: 40px;
	margin: 0 auto 20px;
	cursor: pointer;
}

#footer {
	background-color: black;
	background-image: linear-gradient(black, gray);
	padding: 20px 10px 8px;
}
.footer-image {
	margin: 30px 0;
	height: 60px;
}
#footer p {
	color: white;
}
#footer a img {
	width: 50px;
}

hr {
	background-color: gray;
}

.download-button {
	margin: 5% 3% 5% 0;
}
.price-btn:hover {
	background: #11698e;
	text-decoration: none;
}
